[2021-03-26 18:31] tigrannajaryan opened #7 "Recommend SPLUNK_ to be used as a prefix for env variables"
configuration.md should recommend to use `SPLUNK_` as a prefix for all Splunk-specific env variable names.

[2021-03-26 18:33] tigrannajaryan opened #8 "Is deployment.server a correct attribute name in configuration.md"
configuration.md references a Resource attribute `deployment.server`. As far as I can see this is not an Otel convention. Did we introduce this in Splunk?

[2021-03-26 18:36] tigrannajaryan opened #9 "Unclear: MUST NOT have any not currently full-time Splunkers listed in .github/CODEOWNERS"
It is not clear what this phrase in repository.md means.

Are we saying no-one is allowed to be a CODEOWNER unless they are a Splunker and are full-time dedicated to the repository? Or this means that if someone is not a Splunker they cannot be a CODEOWNER?

[2021-03-26 18:37] tigrannajaryan opened #10 "Why is MIGRATING.md a MUST have?"
repository.md says that MIGRATING.md is a MUST have. What is the intent here? Do we assume there is always something to migrate from/to?

[2021-03-26 18:54] tigrannajaryan opened #11 "Unclear requirement in versioning.md regarding components transitions from experimental to stable"
The doc says:

Which users MUST NOT the transition break? The users who are using other already stable features or the users who are using the experimental feature that is being transitioned?

[2021-03-31 11:25] flands opened #12 "Need a decision on OTEL_TRACE_ENABLED"
Java and Python use different variables right now and the OTel specification has nothing for this.

[2021-03-31 15:06] #11 closed, assigned to nobody

[2021-03-31 15:07] #9 closed, assigned to flands

[2021-03-31 15:07] #10 closed, assigned to flands

[2021-04-01 17:38] #7 closed, assigned to flands

[2021-04-01 17:38] #8 closed, assigned to flands

[2021-04-01 18:39] owais opened #24 "Should `service.name` resource attribute be a required field?"
`service.name` resource attribute is a very important for APM. This attribute is what lets APM identify individual services. Today this defaults to `unnamed-<lang>-service` for Splunk libraries. For example, if a user forgets to specify this attribute for a Node service, it'll show up as `unnamed-node-service` in APM. If a user forgets to specify it for multiple node service, then APM will likely

[2021-04-01 18:41] #24 closed, assigned to nobody

[2021-04-05 07:13] iNikem opened #30 "Better communication of breaking changes"
The proposed https://keepachangelog.com/en/1.1.0/ changelog format does not tell how exactly to communicate breaking changes. Its "Changed" section covers both backward compatible and incompatible changes, IMO. Should we do something different?

[2021-04-14 15:24] ghost opened #37 "Add "upstream GA" to repository GA spec"
I believe we should add to repository spec that:
"if there is an upstream project, it MUST be in GA (>= 1.0.0) before our repo can go into GA"
I know that this ^^ is something we all assume, but it's better to have this written as a rule.

[2021-04-16 15:23] #12 closed, assigned to nobody

[2021-04-27 00:43] #37 closed, assigned to nobody

[2021-04-27 17:32] #30 closed, assigned to nobody

[2021-04-28 09:56] iNikem opened #52 "Using teams in CODEWE"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-28 09:56] iNikem opened #53 "Using teams in CODEOWNERS file"
Currently our spec says that CODEOWNERS file `MUST include at least two currently full-time Splunkers`. What about using teams instead? I suggest that every repo should have maintainers team anyway.

[2021-04-28 15:02] #52 closed, assigned to nobody

[2021-04-29 07:06] pellared opened #58 "Approvers: permission level vs CODEOWNERS"
Currently, the spec says
[code]

The problem is that at least `Write` permission is required to act as a code owner. I would not advise giving approvers `Write` permission as it would allow them (at least) to create tags and add/delete/edit GH releases.

I think that what we can do is to change the CODEOWNER description to:

[code]

And additionally, create a GH workflow like this (we can put this

[2021-04-29 19:55] iNikem opened #61 "Non-maintainers can merge PRs"
This very same repo violates this requirement:

Currently I can merge PRs in this repo without being mentioned in CODEOWNERS file.

[2021-04-30 14:28] flands opened #62 "MUST limit permissions of GITHUB_TOKEN when used"
**Description**
See #59 and notice how `GITHUB_TOKEN` is used in action.

**Expectation**
Permissions reduced to minimum required -- see: https://docs.github.com/en/actions/reference/authentication-in-a-workflow#modifying-the-permissions-for-the-github_token

**Additional context**
Add any other context about the problem here.

[2021-04-30 14:57] #58 closed, assigned to nobody

[2021-04-30 14:57] #53 closed, assigned to nobody

[2021-04-30 15:05] flands opened #63 "When new minor or major tag is pushed automatically open issue in associated projects"
**Is your feature request related to a problem? Please describe.**
The GDI specification will cut new releases in the future and GDI project will need to update. This needs to be automated so GDI project maintainers are aware of changes.

**Describe the solution you'd like**
When a minor or major tag is pushed all GDI project following the spec automatically get an issue opened asking to address

[2021-05-03 00:03] github-actions[bot] opened #65 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/signalfx/gdi-specification/actions/runs/805310376?check_suite_focus=true)

[2021-05-03 20:14] flands opened #69 "Configuration of ingest endpoints"
**Is your feature request related to a problem? Please describe.**
Ability to specify different endpoints for different signals. Especially important as paths may change over time.

**Describe the solution you'd like**
Are we going to specify more specific variables to configure ingest endpoints such as SPLUNK_INGEST_URL (e.g. https://ingest.us0.signalfx.com)? Or maybe even something more specific

[2021-05-04 15:19] #62 closed, assigned to pellared

[2021-05-04 21:55] flands opened #73 "Need metric instrumentation library env vars"
**Is your feature request related to a problem? Please describe.**
Metric supported is being added to OTel distributions ahead of OTel metric support. Configuration needs to be specified to support this use case.

**Describe the solution you'd like**
Decision on how configuration can be done to support:
- Enabling metrics
- Specifying metric destination
- Configuration metrics (at least interval)

[2021-05-05 18:30] MrAlias opened #78 "Ease process for setting `service.name`"
As pointed out in #25, the `service.name` resource attribute is very important for APM. This attribute is what lets APM identify individual services. Today this defaults to `unnamed-<lang>-service` for Splunk libraries. For example, if a user forgets to specify this attribute for a Node service, it'll show up as `unnamed-node-service` in APM. If a user forgets to specify it for multiple node servi

[2021-05-06 17:31] #61 closed, assigned to nobody

[2021-05-07 10:50] iNikem commented on #78
@MrAlias https://github.com/open-telemetry/opentelemetry-specification/pull/1677

[2021-05-10 17:07] MrAlias commented on #65
I'd like to get confirmation from a few implementation (i.e. java, python) that the specification if viable before moving from a release candidate to a stable 1.0. But, yes, we should fix this for the 1.0 release for sure.

[2021-05-12 19:10] flands opened #87 "Approvers with Triage approval cannot be added to CODEOWNERS"
Proposal: Follow OTel model.

[2021-05-12 19:30] pellared commented on #87
I find OTel model not very secure. We should rather propose changing the model in OTel.

This will allow approvers to push git tags (which is equal to release in the case of Go libraries) and manage GitHub releases. Also, approvers would be able to publish packages.

References:
- https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-permission-leve

[2021-05-12 21:09] pellared commented on #87
I made a quick PoC: https://github.com/open-telemetry/opentelemetry-dotnet-instrumentation/releases/tag/v0.0.1
Please find out who uploaded `malware.txt` - I think it is impossible.

[2021-05-18 12:58] flands commented on #87
The biggest concern with the OTel model is that more people can perform operations than desired -- specifically, it is that approvers can do things like push tags. Most OTel repos have 2-3 maintainers and 3-4 approvers. In short, this means double the people have access to push tags than expected. The benefit is that CODEOWNERS can be used on the repository. OTel has another issue where contrib re

[2021-05-18 12:58] #87 closed

[2021-05-18 17:53] kubawach opened #95 "Splunk OpenTelemetry Java Lambda Wrapper - GA request"
**Which GDI project do you wish to GA?**
https://github.com/signalfx/splunk-otel-java-lambda

**Does the repository follow the latest tagged minor release in GDI specification?**
yes

**How long has the GDI project been public?**
Four month

**Is the project known to be used today?**
yes

**Is there a date by which this approval is needed?**
no

**Additional context**
Reviewed with all 1.0.0-rc GD

[2021-05-19 14:32] pellared opened #100 "Wording: use repository instead of project"
More: https://github.com/signalfx/gdi-specification/pull/96#discussion_r634961259

[2021-05-19 15:25] MrAlias opened #101 "Allow deprecations to persist"
Instead of requiring deprecated features be removed at the release of the next major version, specify they can be removed in a major version bump, but can also persist across them if it is deemed customers need more time to get off them. The specification should state explicitly that they cannot be removed before the next major release though.

_Originally posted by @owais in https://github.com/si

[2021-05-19 21:39] MrAlias commented on #100
Closed by #104

[2021-05-19 21:39] #100 closed

[2021-05-21 16:25] MrAlias commented on #101
Resolved by #103

[2021-05-21 16:25] #101 closed

[2021-05-21 16:26] MrAlias commented on #95
Sorry about the delay here. We are prioritizing getting splunk-otel-java released, but this is next in the queue.

[2021-05-21 16:29] MrAlias opened #106 "Splunk OpenTelemetry Java Distribution - GA request"
**Which GDI repository do you wish to GA?**

https://github.com/signalfx/splunk-otel-java

**Does the repository follow the latest tagged minor release in GDI specification?**

yes

**How long has the GDI repository been public?**

~8 months

**Is the repository known to be used today?**

yes

**Is there a date by which this approval is needed?**

2021-05-28

/cc @flands @mateuszrzeszutek

[2021-05-21 17:21] mateuszrzeszutek commented on #106
~8 months?

[2021-05-21 17:31] MrAlias commented on #106
# Configuration

## Splunk Specific Environment variables

- 🛑 `SPLUNK_ACCESS_TOKEN`
   - [ ] Listed as experimental instead of stable [in documentation](https://github.com/signalfx/splunk-otel-java/blob/b1a71602d411f53ed0bc9824e5fe2f6fe810e3de/docs/advanced-config.md).
- 🛑 `SPLUNK_TRACE_RESPONSE_HEADER_ENABLED`
   - [ ] Listed as experimental instead of stable [in documentation](https://github.co

[2021-05-21 17:37] mateuszrzeszutek commented on #106
Yes, this is for the buildpack. It's also completely outdated and wrong, but it doesn't concern the javaagent 🤷‍♂️

@flands weren't we going to mark those two as stable as a part of going 1.0?

[2021-05-21 18:25] MrAlias commented on #106
# Semantic Conventions

## OpenTelemetry Resource Attributes

✅ These are set by the default OTel SDK for a new resource (which is used to build the distribution one from):

https://github.com/open-telemetry/opentelemetry-java/blob/50408d499f85d5761d0a5ed9bf9d77d5ff01fff5/sdk/common/src/main/java/io/opentelemetry/sdk/resources/Resource.java#L53-L57

❓I'm not sure about this. I think this is done b

[2021-05-21 18:27] mateuszrzeszutek commented on #106
I can confirm that -- this is indeed done by the upstream agent.

[2021-05-21 21:17] MrAlias commented on #106
# Repository

## Required Configuration

### Teams

❓ @flands  to verify

### Permissions

❓ @flands  to verify

### Branch protection

❓ @flands  to verify

### Dependencies

✅ vendored with gradle.

[✅](https://github.com/signalfx/splunk-otel-java/blob/v0.11.0/.github/dependabot.yml)

### GitHub Actions

❓ @flands  to verify

### GitHub Applications

❓ @flands  to verify

🚫 It does not seem to c

[2021-05-21 21:39] flands commented on #106
* Teams: Confirmed
* Permissions: Confirmed though we have a bots group now with write @owais do this need to be a separate group or can we add to maintainers group? If required we may need spec update
* Branch permissions: Confirmed
* GitHub actions/applications: mine to verify confirmed

[2021-05-24 09:34] mateuszrzeszutek commented on #106
Yes, that's intentional.

I missed that one. I'll add it 👍

I think that GH started to sign those tags automatically at some point (I do push signed tags from my machine though).
The release process does not verify this, but I believe that in its current state it doesn't have to: we still have a manual verification/upload step that must be done by a maintainer.

Every release states with OTel API/

[2021-05-24 11:23] mateuszrzeszutek commented on #106
https://github.com/signalfx/splunk-otel-java/pull/249

[2021-05-24 14:56] iNikem commented on #78
Spec PR is merge https://github.com/open-telemetry/opentelemetry-specification/pull/1677. We now have `OTEL_SERVICE_NAME`

[2021-05-24 15:02] mateuszrzeszutek commented on #78
A bit Java-centric question: should we implement that right now in our javaagent? I suppose that otel SDK will add this in 1.3, but if we're expecting to release splunk-otel-java 1.0 this week it might be a good idea to do it right away in our repo.
CC @jkwatson @flands

[2021-05-24 15:06] jkwatson commented on #78
I think we should wait until the spec gets released to put this in. Otherwise, it could get reverted in the spec pre-release and we'd be stuck with having something custom.

[2021-06-08 20:00] MrAlias commented on #106
All issues have been resolved and the the splunk-otel-java project has been confirmed to be compliant with the 1.0.0 release of the GDI specification.

[2021-06-08 20:00] #106 closed

[2021-06-08 20:01] MrAlias commented on #65
This has been resolved: https://github.com/signalfx/gdi-specification/runs/2488461422?check_suite_focus=true

[2021-06-08 20:01] #65 closed

[2021-06-25 10:21] owais opened #113 "Splunk Opentelemetry Python GA request"
**Which GDI repository do you wish to GA?**
Splunk Distribution of OpenTelemetry Python
https://github.com/signalfx/splunk-otel-python

**Does the repository follow the latest tagged minor release in GDI specification?**
yes

**How long has the GDI repository been public?**
7-8 months

**Is the repository known to be used today?**
yes

**Is there a date by which this approval is needed?**
No

[2021-07-06 10:59] owais commented on #113
@flands @MrAlias ^

[2021-07-21 16:42] jtmal-signalfx opened #116 "Templates for bug submissions / technical support tickets"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I get a bug request or a technical support ticket and the information is incomplete. We frequently have to start the investigation by requesting basic information which should already be there, and it:
- adds an unnecessary delay (counting between when a submission/ticket is created and when it's resolved

[2021-07-21 17:05] iNikem commented on #116
I personally find issue templates very frustrating and rarely useful. Only a small amount of information is really universal for all use-cases, like "give me a full stacktrace" and "what version do you use".

[2021-07-26 07:32] mateuszrzeszutek commented on #116
Does it make sense to keep language specific templates in this repo? I was under the impression that GDI spec is supposed to contain the common parts.

I'm pretty sure they won't, unfortunately 😅

[2021-07-27 09:10] mateuszrzeszutek opened #118 "signalfx/docs need WRITE permission in every repo"
Related to #115 and #117

We've added the `signalfx/docs` team as an approver to every repo, that means that we've got to grant that team WRITE permission to every GDI repo. Is this okay? Should we add that requirement to `repository.md`? Or should we resurrect the approach from https://github.com/signalfx/gdi-specification/pull/88 (GHA that adds reviewers)?

[2021-07-27 11:21] pellared commented on #118
We already agreed that approvers have WRITE/. Therefore I would do the same for `signalfx/docs` team.

[2021-08-10 16:47] MrAlias commented on #113
# Configuration

- `SPLUNK_MAX_ATTR_LENGTH` is not documented or labeled experimental.

## Instrumentation Libraries

- ✅ Both look to be implemented according to specification.
    - [`SPLUNK_TRACE_RESPONSE_HEADER_ENABLED` (`true`)](https://github.com/signalfx/splunk-otel-python/blob/7b0cc8a40f7757b4cd411353811a7c85f9537f40/splunk_otel/options.py#L120)
    - [`SPLUNK_ACCESS_TOKEN` ()](https://git

[2021-08-10 16:47] MrAlias commented on #113
# Repository

### Teams

✅ https://github.com/orgs/signalfx/teams/gdi-python-maintainers

✅ https://github.com/orgs/signalfx/teams/gdi-python-approvers

### Permissions

❓ I do not have permissions to verify. @flands or @owais please verify.

### Branch protection

❓ I do not have permissions to verify. @flands or @owais please verify.

### GitHub Actions

❓ It doesn't look like there are any acti

[2021-08-10 16:53] MrAlias commented on #113
# Semantic Conventions

## OpenTelemetry Resource Attributes

🛑 Looks to be missing. @owais can you confirm this?

✅ [set here](https://github.com/signalfx/splunk-otel-python/blob/ce814b576b287bf57c312fdf0d6e2488961f1dd1/splunk_otel/options.py#L136)

## Splunk Resource Attributes

✅ [set here](https://github.com/signalfx/splunk-otel-python/blob/ce814b576b287bf57c312fdf0d6e2488961f1dd1/splunk_otel/

[2021-08-10 17:00] MrAlias commented on #113
# Versioning

✅ [looks so](https://github.com/signalfx/splunk-otel-python/tags)

✅ [looks so](https://github.com/signalfx/splunk-otel-python/releases/tag/v1.0.0rc4)

## Experimental

❓ I am not qualified to answer this. @owais can you confirm this is satisfied?

✅ Currently this is not done.

[2021-08-10 21:26] flands commented on #113
* Permissions: ✅ Confirmed, done
* CODEOWNERS: 🛑 Not correct, not enforced on branch @owais please fix then I can set
* GitHub actions: ✅ LGTM

[2021-08-11 12:45] kubawach opened #122 "SignalFx Lambda Extension Layer - GA request"
Which GDI project do you wish to GA?
https://github.com/signalfx/signalfx-extension-wrapper

Does the repository follow the latest tagged minor release in GDI specification?
yes

How long has the GDI project been public?
None

Is the project known to be used today?
Yes

Is there a date by which this approval is needed?
No

Additional context
Build / release in GitLab

[2021-08-11 13:27] kubawach opened #123 "Repository / Teams"
Currently the spec says:
[code]

The question is whether it means that there should be a single (approver / maintainer) team per repo or rather that each repo has to have a team assigned and teams can be shared between repos? The rationale behind the latter is that we have multiple teams from eg Java domain that should (and actually do) share maintainers / approvers.

@pellared @iNikem ^^ out of o

[2021-08-11 13:37] pellared commented on #123
For me:

[code]

Otherwise, it won't give a lot of benefits especially that AFAIK you cannot add one team to another team in GitHub...

[2021-08-16 13:20] kubawach commented on #123
Cool, I'll put it into spec then :)

[2021-08-31 15:21] #118 closed

[2021-08-31 22:16] owais commented on #113
- [x] This is handled by Otel SDK out of the box:
https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py#L168
https://github.com/open-telemetry/opentelemetry-python/blob/main/opentelemetry-sdk/src/opentelemetry/sdk/resources/__init__.py#L246-L252

- [x] Fixed.

- [x] I don't think we do anything that violates this principle. P

[2021-09-01 14:14] #78 closed

[2021-09-01 20:21] owais commented on #113
@MrAlias I think I've taken care of or answered all questions. I'll go over this once more tomorrow and make sure I didn't miss anything but please feel free to review.

[2021-09-03 13:47] #123 closed

[2021-09-07 11:50] jtmal-signalfx opened #126 "GA request for signalfx / splunk-otel-js"
**Which GDI repository do you wish to GA?**
<https://github.com/signalfx/splunk-otel-js>

**Does the repository follow the latest tagged minor release in GDI specification?**
Yes, except:
- referenced OTel JS is still in beta

**How long has the GDI repository been public?**
Since around March 2021.

**Is the repository known to be used today?**
Yes, couple hundred downloads per week via NPM.

**I

[2021-09-07 15:30] jtmal-signalfx commented on #126
And the latest release to check all the boxes in `gdi-specification`: <https://github.com/signalfx/splunk-otel-js/releases/tag/v0.12.0>

[2021-09-13 00:02] github-actions[bot] opened #127 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/signalfx/gdi-specification/actions/runs/1227610175?check_suite_focus=true)

[2021-09-13 00:18] owais commented on #113
@MrAlias @flands PTAL. Thanks

[2021-09-17 18:37] MrAlias commented on #113
Sorry about the delay,

- @flands can you double check the branch protections now that the CODEOWNERS is compliant?
- @owais can you confirm the Jira GitHub app is configured? (sorry if I missed that it was already addressed)

Otherwise, this all looks good to me :+1:

[2021-09-17 18:39] #127 closed

[2021-09-17 18:41] owais commented on #113
@flands confirmed on slack a couple of weeks ago that he configured the JIRA GitHub app. I'm not sure how to configure or even test it :)

@flands can you answer both please? ^

[2021-09-17 20:05] flands commented on #113
Both done and confirmed!

[2021-09-17 20:31] MrAlias commented on #113
All issues have been resolved and the the splunk-otel-python project has been confirmed to be compliant with the 1.0.0 release of the GDI specification.

[2021-09-17 20:31] #113 closed

[2021-09-22 16:41] pellared commented on #126
# Configuration

Reviewing: https://github.com/signalfx/splunk-otel-js/blob/326819403700d2d30ffde47df072d489c9109b28/docs/advanced-config.md

Specs: https://github.com/signalfx/gdi-specification/blob/v1.0.0/specification/configuration.md

It would be good if the format stays very similar across different languages/ecosystems. See these for reference:
- https://github.com/signalfx/splunk-otel-java/

[2021-09-22 16:45] pellared commented on #126
Legend:

❓ questions
❌ does not meet the GDI specs
⚠️ remarks are not breaking GDI specs, however they may be worth addressing

[2021-09-24 07:21] seemk commented on #126
The `SPLUNK_LOGS_INJECTION` env var is a remnant of the SFX lib. However it now only controls service name, environment and version injection as trace_id and span_id are injected via the logging instrumentations themselves. Rauno already pointed this out and think we can either get rid of it or move it to advanced configuration while enabling it by default.

[2021-09-26 20:32] Rauno56 commented on #126
Yes. We're in the process of removing those.

[2021-09-27 09:35] theletterf commented on #126
Please see: https://github.com/signalfx/splunk-otel-js/pull/294 — docs are being modified there.

[2021-09-27 10:22] Rauno56 opened #131 "Specify export protocol"
**Is your feature request related to a problem? Please describe.**
We currently spec the distros to use OTLP, but are not saying whether the protocol should be over HTTP or gRPC. The latest version of the Collector receives those on different ports. There has been an [effort to consolidate that](https://github.com/open-telemetry/opentelemetry-collector/pull/3765).
Would we want to spec that?

**De

[2021-09-27 10:44] pellared commented on #131
Yes 👍 It would avoid confusion whatever we agree on.

[2021-09-27 10:54] pellared commented on #126
@flands @MrAlias Splunk OTel Java and Python are using the `grpc` protocol. Splunk OTel JS is currently using `http/protobuf`. Is it OK? The specification does not define which one should be used https://github.com/signalfx/gdi-specification/issues/131. My concern is that having different default settings may confuse the users.

[2021-09-27 12:47] pellared commented on #131
@Rauno56 Can I assign this issue to you?

[2021-09-27 15:38] flands commented on #126
We should default to gRPC -- opened: #132

[2021-09-28 11:20] Rauno56 commented on #126
Logs injection is done here: https://github.com/signalfx/splunk-otel-js/pull/312

[2021-10-01 09:15] Rauno56 commented on #131
Solved in https://github.com/signalfx/gdi-specification/pull/132!

[2021-10-01 09:15] #131 closed

[2021-10-04 20:59] jkwatson opened #133 "GA request for splunk-otel-android"
**Which GDI repository do you wish to GA?**
[splunk-otel-android](https://github.com/signalfx/splunk-otel-android)

**Does the repository follow the latest tagged minor release in GDI specification?**

  - [x] Has an appropriate [maintainers team](https://github.com/signalfx/gdi-specification/blob/v1.1.0/specification/repository.md#teams). - https://github.com/orgs/signalfx/teams/gdi-java-maintain

[2021-10-21 13:48] mateuszrzeszutek opened #140 "Support `SPLUNK_REALM` in instrumentation libraries"
**Is your feature request related to a problem? Please describe.**
Right now the "standard" instrumentation libraries do not support the `SPLUNK_REALM` configuration setting; it is supported by RUM & serverless libraries and the collector though.

We could introduce that setting to all instrumentation libraries; it could work in the following way:
* if `SPLUNK_REALM` is specified, the exporter end

[2021-11-02 09:50] jtmal-signalfx commented on #126
PR still not merged in OTel.

[2021-11-03 18:13] MrAlias commented on #133
- [x] Check implemented [here](https://github.com/signalfx/splunk-otel-android/blob/0b360388752e68ad4569e970fc2c0efdb2e371d1/splunk-otel-android/src/main/java/com/splunk/rum/Config.java#L155-L157)

[2021-11-03 18:18] MrAlias commented on #133
This isn't a requirement, but it also does not look implemented. @jkwatson can you validate if I missed something here?

[2021-11-03 18:23] MrAlias commented on #133
- [x] This looks to be the case: https://github.com/signalfx/splunk-otel-android/blob/141d16fbc29f6b0eb68b18679181fedb82bc9c6f/splunk-otel-android/src/main/java/com/splunk/rum/RumInitializer.java#L221

[2021-11-03 18:27] MrAlias commented on #133
- [x] Throttling tested [here](https://github.com/signalfx/splunk-otel-android/blob/68d29497f638d6c96cb4620e7be3c08d3b57204b/splunk-otel-android/src/test/java/com/splunk/rum/ThrottlingExporterTest.java#L71), with defaults [here](https://github.com/signalfx/splunk-otel-android/blob/68d29497f638d6c96cb4620e7be3c08d3b57204b/splunk-otel-android/src/main/java/com/splunk/rum/ThrottlingExporter.java#L117

[2021-11-03 18:27] jkwatson commented on #133
We don't implement this on Android because it's built in to the way that Android itself works. It's not something that can be done at the library level, but is only done at the application level, which we obviously cannot control.

[2021-11-03 18:29] MrAlias commented on #133
Does this mean the specification needs to be updated to say this is a requirement if the system allows this kind of configuration enforcement?

[2021-11-03 18:30] jkwatson commented on #133
We haven't implemented this, no. It would be simple to add this warning, though, if you think this is a blocker.

[2021-11-03 18:30] MrAlias commented on #133
Not a blocker, but probably a good things to add given it can be added.

[2021-11-03 18:31] jkwatson commented on #133
@mateuszrzeszutek can you take this as an action item?

[2021-11-03 18:58] MrAlias commented on #133
@flands can you verify the [permissions](https://github.com/signalfx/gdi-specification/blob/v1.1.0/specification/repository.md#permissions) and [branch protections](https://github.com/signalfx/gdi-specification/blob/v1.1.0/specification/repository.md#branch-protection) please?

[2021-11-03 19:01] MrAlias commented on #133
I don't see this configured. If I recall correctly, this was not possible for Android, right? <- @jkwatson

Can we add this?

[2021-11-03 19:01] jkwatson commented on #133
I also don't know, but @flands told me it was done.

[2021-11-03 19:02] MrAlias commented on #133
Sounds good :+1:

[2021-11-03 19:07] MrAlias commented on #133
- [x] no examples to update.

[2021-11-03 19:34] MrAlias commented on #133
@jkwatson is this done natively in the Java SDK?

[2021-11-03 19:34] MrAlias commented on #133
:facepalm: NVM

[2021-11-03 19:35] jkwatson commented on #133
I'm not sure if it's possible or not...but I personally have philosophical problems with using it. I'll leave this one to @mateuszrzeszutek and the team to decide if they want to use this as a proxy for test quality.

I don't no of a reason why not! @mateuszrzeszutek another action item for y'all.

[2021-11-03 19:37] MrAlias commented on #133
- [x] https://github.com/signalfx/splunk-otel-android/blob/141d16fbc29f6b0eb68b18679181fedb82bc9c6f/splunk-otel-android/src/main/java/com/splunk/rum/RumInitializer.java#L192

[2021-11-03 19:46] MrAlias commented on #133
- [x] `app` https://github.com/signalfx/splunk-otel-android/blob/02c8e16ecef3845294fece799e521c651f7b7cbc/splunk-otel-android/src/main/java/com/splunk/rum/RumAttributeAppender.java#L62
- [x] `splunk.rumSessionId` https://github.com/signalfx/splunk-otel-android/blob/02c8e16ecef3845294fece799e521c651f7b7cbc/splunk-otel-android/src/main/java/com/splunk/rum/RumAttributeAppender.java#L63
- [x] `splunk.

[2021-11-03 19:54] jkwatson commented on #133
https://github.com/signalfx/splunk-otel-android/search?q=COMPONENT_KEY

[2021-11-03 19:55] MrAlias commented on #133
- [x] `device.model.name`  https://github.com/signalfx/splunk-otel-android/blob/02c8e16ecef3845294fece799e521c651f7b7cbc/splunk-otel-android/src/main/java/com/splunk/rum/RumAttributeAppender.java#L66
- [x] `os.type` https://github.com/signalfx/splunk-otel-android/blob/02c8e16ecef3845294fece799e521c651f7b7cbc/splunk-otel-android/src/main/java/com/splunk/rum/RumAttributeAppender.java#L69
- [x] `os.v

[2021-11-03 21:40] MrAlias commented on #133
SGTM :+1:

[2021-11-03 21:48] MrAlias commented on #133
Remaining tasks:

- [ ] @flands to check permissions and branch protections.
- [ ] https://github.com/signalfx/gdi-specification/pull/146

Outstanding "nice to haves"

- [ ] https://github.com/signalfx/splunk-otel-android/issues/181
- [ ] https://github.com/signalfx/splunk-otel-android/issues/182

[2021-11-04 12:10] pellared commented on #140
@owais WDYT of `none` instead of `local`? Just to have similarity to `OTEL_PROPAGATORS` and `OTEL_*_EXPORTER`.

Reference: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md

[2021-11-04 15:10] jkwatson commented on #133
#181 has been completed (looks like I can't edit your checklist, @MrAlias )

[2021-11-05 15:24] Rauno56 commented on #126
It is now.

[2021-11-10 17:59] MrAlias commented on #133
The RUM configuration is planned to be set to a "Feature Freeze" version, but not release as stable. Because of this we will sign off on the splunk-otel-android repository publishing compliance with the GDI specification for the upcoming version, but it is not going to itself be released as stable given the instability in the configuration specification.

The last things we need to accomplish befo

[2021-11-11 13:52] flands commented on #133
Done!

Done!

[2021-11-15 19:32] MrAlias commented on #133
Now that [Release v1.2.0](https://github.com/signalfx/gdi-specification/releases/tag/v1.2.0) is out this issue can be closed. The splunk-otel-android repository is authorized to say they are compliant with v1.2.0 of the GDI specification and add a badge to their README saying so (i.e. https://img.shields.io/badge/GDI-1.2.0-blueviolet?style=for-the-badge). However, since the RUM configuration is no

[2021-11-15 19:32] #133 closed

[2021-12-09 02:03] #140 closed

[2021-12-20 14:00] Rauno56 commented on #126
Once https://github.com/open-telemetry/opentelemetry-js/pull/2626 is merged an released version 0.27 of the exporter will be released as 1.0 as well and we can bump the version among our deps as well.

@MrAlias, @pellared, how can we proceed?

[2021-12-20 15:45] jtmal-signalfx commented on #126
US people are off till Jan 3, and Robert isn't working on GA reviews anymore I think. I'll keep pinging Steve and Michał about this.

[2022-01-24 20:55] MrAlias commented on #126
# [Repository](https://raw.githubusercontent.com/signalfx/gdi-specification/v1.2.0/specification/repository.md)

Verified: https://github.com/orgs/signalfx/teams/gdi-js-approvers, https://github.com/orgs/signalfx/teams/gdi-js-maintainers

I do not have access to these settings (permissions or branch protection). @flands can you please verify?

Verified: [package-lock.json](https://github.com/signa

[2022-01-24 20:59] MrAlias commented on #126
# [Semantic Conventions](https://raw.githubusercontent.com/signalfx/gdi-specification/v1.2.0/specification/semantic_conventions.md)

@jtmal-signalfx or @Rauno56 can you verify this is satisfied? I do not have enough familiarity with the JS implementation to do so.

:x: A search of the repository did not return an implementation of this. @jtmal-signalfx or @Rauno56 can you verify this is satisfied

[2022-01-24 21:00] MrAlias commented on #126
To be sure, the profiling capabilities are not being included here because they do not look to be ready for a stable release. @Rauno56 or @jtmal-signalfx can you verify the plan is to **not** include profiling in the stable release?

[2022-01-24 21:01] MrAlias commented on #126
# Versioning

Verified.

[2022-03-08 11:19] Rauno56 commented on #126
@MrAlias, thanks for the reveiw. I collected your comments in the following list:

- [ ] GitHub Actions - MUST have Jira GitHub App configured
- [ ] SHOULD have Codecov GitHub App configured - your comment about that is correct. The library has recently been deprecated though.
- [ ] SHOULD have Lychee Link Checker GitHub Action configured
- [ ] Missing "badge on the README.md with GDI specificatio

[2022-04-11 00:03] github-actions[bot] opened #168 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/signalfx/gdi-specification/actions/runs/2145532161?check_suite_focus=true)

[2022-04-18 00:02] github-actions[bot] opened #169 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/signalfx/gdi-specification/actions/runs/2181512615?check_suite_focus=true)

[2022-04-18 19:44] github-actions[bot] opened #170 "Link Checker Report"
Errors were reported while checking the availability of links.

[code]

[Full Github Actions output](https://github.com/signalfx/gdi-specification/actions/runs/2181512615?check_suite_focus=true)

[2022-04-19 22:01] #168 closed

[2022-04-19 22:01] #169 closed

[2022-04-19 22:01] #170 closed

[2022-05-20 12:27] Rauno56 commented on #126
@MrAlias, what comes to releases, since they're old ones and no one in the node ecosystem uses GH Releases for any authority I'll skip redoing the releases.

I would kindly ask someone(@iNikem / @flands ?) with permission to
1. Enable [Require signed commits](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-

[2022-06-07 05:21] pellared opened #173 "GA request - Splunk Distribution of OpenTelemetry Go"
**Which GDI repository do you wish to GA?**

[Splunk Distribution of OpenTelemetry Go](https://github.com/signalfx/splunk-otel-go)

**Does the repository follow the latest tagged minor release in [GDI specification](../../specification/repository.md)?**

  - [x] Has an appropriate [maintainers team](../../specification/repository.md#teams).
  - [x] [Permissions](../../specification/repository.md#p

[2022-06-07 12:21] pellared commented on #173
Together with @mzajacsplunk we have checked and updated the repository setting to meet the GDI specification.

[2022-06-07 12:22] pellared commented on #173
@MrAlias Can you double-check everything? It looks like Splunk OTel Go meets the GDI spec.

[2022-06-07 13:04] mzajacsplunk commented on #126
1. I checked and "Require signed commits" is correctly set
2. I checked and the Jira GH app is configured

[2022-06-07 15:58] Rauno56 commented on #126
Cool! Then we're all set.

[2022-06-08 18:39] MrAlias commented on #173
README badge needs to be reflect the v1.3.0 version of the GDI spec it will be compliant with: https://github.com/signalfx/splunk-otel-go/pull/993

[2022-06-08 18:45] MrAlias commented on #173
[This](https://github.com/signalfx/gdi-specification/blob/main/specification/repository.md#required-files) is missing from the top level README.

[2022-06-08 18:53] MrAlias commented on #173
Validated conforms to [configuration](https://github.com/signalfx/gdi-specification/blob/main/specification/configuration.md) specification

[2022-06-08 18:57] MrAlias commented on #173
I'm making a PR to address this.

[2022-06-08 19:01] MrAlias commented on #173
https://github.com/signalfx/splunk-otel-go/pull/994

[2022-06-08 19:10] MrAlias commented on #126
Agreed! :tada:

Closing with the conclusion that this is complete, the JS distribution is ready for GA!

[2022-06-08 19:10] #126 closed

[2022-06-08 19:32] MrAlias commented on #173
Merged.

With that, that splunk-otel-go repository has been validated to comply with the v1.3.0 version of the GDI specification :tada:.

[2022-06-08 19:32] #173 closed

[2022-08-02 21:27] breedx-splk opened #179 "GA requirements for dependency version pinning is unclear"
In this section of the GA requirements: https://github.com/signalfx/gdi-specification/blob/4d4cdfab21ae690e7b48aef8e1c5040ce80ed14b/specification/repository.md#dependencies it says:

I think that the "out-of-the-box" portion is too vague -- aren't all dependencies really "out-of-the-box"? If not, what does this even mean?

Does the pinning requirement apply to dependencies used in tests/testing?

[2022-08-16 17:39] breedx-splk opened #182 "GA splunk-otel-android"
Note: This could be understood as a continuation of #133.

I have done front-loaded a lot of evidence toward this GA effort in https://signalfuse.atlassian.net/browse/APMI-3264.

### Which GDI repository do you wish to GA?
[splunk-otel-android](https://github.com/signalfx/splunk-otel-android)

### Does the repository follow the latest tagged minor release in [GDI specification](https://github.com/

[2022-08-18 20:20] tsloughter-splunk opened #183 "GA splunk-otel-ruby"
### Which GDI repository do you wish to GA?

[splunk-otel-ruby](https://github.com/signalfx/splunk-otel-ruby/)

### Does the repository follow the latest tagged minor release in [GDI specification](https://github.com/signalfx/gdi-specification/blob/v1.3.0/specification/repository.md)?

- [x] Has an appropriate [maintainers team](https://github.com/signalfx/gdi-specification/blob/v1.3.0/specificati

[2022-08-18 20:21] tsloughter-splunk commented on #183
I went through each checklist item in an issue in the ruby repo, https://github.com/signalfx/splunk-otel-ruby/issues/31, since it isn't clear if I should check them off here or if it is for the person reviewing the repo to keep track of I'm leaving them unchecked for now.

[2022-08-29 11:21] pellared commented on #179
I see "out-of-the-box" as the tools already installed on the CI runners

Currently, yes.

[2022-08-29 16:58] #179 closed

[2022-08-30 06:42] mateuszrzeszutek commented on #182
I believe that somebody other than the Java team folks should take a look at it - ping @signalfx/gdi-specification-maintainers

[2022-08-30 12:50] pellared commented on #182
I will take it. I will probably start working on it next week,

[2022-09-02 18:35] pellared commented on #182
These are the only issues I have found

- https://github.com/signalfx/splunk-otel-android/issues/343
- https://github.com/signalfx/splunk-otel-android/issues/345

This is really great 👏

[2022-09-06 17:37] pellared commented on #182
I certify that meets [v1.4.0](https://github.com/signalfx/gdi-specification/tree/v1.4.0) of the GDI Spec.

I guess it is time to remove the "BETA" notice and publish a `v1.0.0` release of https://github.com/signalfx/splunk-otel-android

[2022-09-06 18:57] #182 closed

[2022-09-14 08:50] seemk opened #190 "Deprecate requirement for Jaeger Thrift exporter"
With the ingest now supporting OTLP over HTTP, it doesn't make much sense to keep Jaeger Thrift exporter as a required exporter.

Jaeger Client repositories themselves are unmaintained, deprecated and a few of the OpenTelemetry libraries still depend on them (e.g. Node.js). This might produce warnings from vulnerability checks without having a fast way to fix the issues.

The proposal is to lower

[2022-09-14 08:59] Kielek commented on #190
👍 It will reduce amount of work for Splunj OTel .NET AutoInstrumentation. By default we will have otlp over http probably.

FYI: @signalfx/gdi-dotnet-approvers

[2022-09-14 09:27] owais commented on #190
Would be great if it could be dropped but using `"MAY"` **will** lead to conconsist UX across Splunk Otel SDKs. I think we should either drop it from all libs or none. We could opt for dropping it from all but allowing users to install it manually as an additional package if they need.

[2022-09-14 09:49] mateuszrzeszutek commented on #190
We could use `MAY offer`, but add an extra condition that the distro MUST mention that this exporter is deprecated; preferably using a log statement.

[2022-09-14 09:55] owais commented on #190
The scenario I have in mind is someone instrumenting multiple services written in different languages and being surprised that Jaeger works for one but not for the other. They'd eventually find the deprecation statement in docs but still doesn't eliminate the potentially bad UX. Either way, I'll leave it to actual GDI members to decide and go back into my infra cave :)

[2022-09-14 10:58] seemk commented on #190
Agree, ideally I'd strip any mentions to it completely :smile:

[2022-09-14 11:00] seemk commented on #190
But this brings in the question that if we are getting rid of parts of the spec, whether we should have guidelines for distro authors when something should give a deprecation warning and when it's OK to remove something completely.

For example with `splunk-otel-js` we want to do a 2.0 release soon, it would be great chance to incorporate breaking changes like this.

[2022-09-14 11:04] pellared commented on #190
Personally, I suggest doing it in two phases.

First for GDI spec version 1.x: `MAY offer` + deprecation notice
Second for GDI spec version 2.x: remove it 😉 The instrumentation libraries would have to bump the major version as well.

Side note: As part of spec version 2.x we could also remove `SPLUNK_METRICS_*` env vars in favor of OTel env vars.

[2022-09-26 10:50] pellared commented on #183
All issues solved.

[2022-09-26 10:50] pellared commented on #183
Ruby distribution is ready for GA!

[2022-09-26 10:50] #183 closed

[2022-10-31 09:25] pellared commented on #190
@seemk Do we want to use this issue to track deprecating `jeager-thrift-splunk` in our distros?

@mzajacsplunk FYI

[2022-11-02 10:44] mateuszrzeszutek commented on #190
We could make 1.5 release of the spec, and then distros will just have to implement it to conform to the new version. And then we just close this issue.

[2022-11-02 12:44] pellared commented on #190
@MrAlias Are [the issues with milestone 1.5](https://github.com/signalfx/gdi-specification/milestone/4) required for v1.5.0?

[2022-11-02 17:58] MrAlias commented on #190
They can be bumped to the next release if need be.

[2022-11-03 09:23] pellared opened #193 "Release 1.5.0"
Per https://github.com/signalfx/gdi-specification/issues/190#issuecomment-1300022388

It would be good also to improve the releasing process to create "spec-compliance" issues in our repositories.

[2022-11-03 09:26] pellared commented on #73
@signalfx/gdi-specification-approvers Is it still needed? I think we can close this one as it looks invalid. We should use OTel metrics now.

[2022-11-03 09:29] pellared commented on #190
I will try to create a new release before end of next week and create issues for spec compliance in directly our repositories (e.g. https://github.com/signalfx/splunk-otel-java). Closing this one.

[2022-11-03 09:29] #190 closed

[2022-11-03 09:31] pellared commented on #95
@mzajacsplunk Can we close this one?

[2022-11-03 09:31] pellared commented on #122
@mzajacsplunk Can we close this one?

[2022-11-03 09:32] pellared commented on #95
@johnbley

[2022-11-03 09:33] pellared commented on #122
@johnbley

[2022-11-03 09:34] pellared commented on #69
Closing as `SPLUNK_REALM` seems to be good enough.

[2022-11-03 09:34] #69 closed

[2022-11-03 09:43] pellared commented on #63
Doing it automatically via GitHub Action would require having a bot account with PAT.

For security reasons, I think it would be better if we prepare a script that could be invoked by GDI spec maintainer as part of the release process.

[2022-11-03 09:59] mateuszrzeszutek commented on #95
Yes, this project is going to be deprecated (in favor of the [Splunk OpenTelemetry Lambda](https://github.com/signalfx/splunk-otel-lambda/)), we don't need to GA it anymore.

[2022-11-03 09:59] #95 closed

[2022-11-03 10:00] mateuszrzeszutek commented on #73
^ this
Long term we don't want any splunk specific config for metrics.

[2022-11-03 12:12] pellared opened #194 "Deprecate Splunk-specific configs for metric"
We should use OTel metrics now.
Long term we don't want any Splunk specific config for metrics.

_Originally posted by @mateuszrzeszutek in https://github.com/signalfx/gdi-specification/issues/73#issuecomment-1301868422_

[2022-11-03 12:14] pellared commented on #73
I created https://github.com/signalfx/gdi-specification/issues/194. Closing this issue. Anyone can reopen it if needed.

[2022-11-03 12:14] #73 closed

[2022-11-08 12:01] johnbley commented on #122
The signalfx-extension-wrapper repo is still in active use, though indirectly through the (private) lambda-layers one.  The long-term usage of this component is unclear at the moment.  We have no specific plans to work towards GA/1.0/GDI-spec-compliance of signalfx-extension-wrapper at the moment.

[2022-11-08 13:18] #122 closed

[2022-11-14 09:41] pellared opened #197 "Zipkin exporter vs OTel specification+docs vs GDI docs"
I find this requirement awkward:

https://github.com/signalfx/gdi-specification/blob/c9216b2d05faa82da4f5a62d801476994f56ff56/specification/configuration.md#L222-L223

Reasons:

1. We should rather support anything that is "stable" in OTel. Zipkin is a "stable" exporter. See [here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#ja

[2022-11-14 09:54] theletterf commented on #197
Agree with @pellared take on the importance of this. We need to be clear about what we don't support because of efficiency and what we don't support because it's still experimental or deprecated.

[2022-11-14 10:01] pellared commented on #197
Zipkin is "stable" in OTel. As a distribution, I do not think we can say that we do not support something stable from the upstream.

[2022-11-14 10:57] pellared opened #198 "Handling distribution-specific configuration"
Currently the spec says:

https://github.com/signalfx/gdi-specification/blob/c9216b2d05faa82da4f5a62d801476994f56ff56/specification/configuration.md?plain=1#L15-L19

In practice, we see that this process it is not working. [Some of the configs in Java OTel distro](https://docs.splunk.com/Observability/gdi/get-data-in/application/java/configuration/advanced-java-otel-configuration.html#metrics-coll

[2022-11-14 11:04] pellared commented on #198
Personally, I propose to allow distributions to have their own config options in the form of `SPLUNK_{LANGUAGE}_{FEATURE}`.

This proposal is based on: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#language-specific-environment-variables

The current spec make sense for configuration that are not language specific. However, we se

[2022-11-14 11:17] mateuszrzeszutek commented on #197
On the other hand, we don't want people to use the Zipkin exporter. Perhaps we should add a paragraph of explanation why we're not recommending Zipkin somewhere?
Also, I think we should not remove the `Distribution MUST NOT list Zipkin exporter as supported` line -- I think it adds some value, as we definitely should not list it as a viable option anywhere (even if by accident).

[2022-11-14 11:55] mateuszrzeszutek commented on #198
I think that the current process is unreasonably strict (and this is the reason why it's not being followed everywhere).

Take the profiler, for example: we first developed a POC implementation in Java, and only after we made sure it worked (and that other languages will need this feature too) we made the changes to the GDI spec. The profiler spec was changed several times when other language impl

[2022-11-14 11:55] pellared commented on #197
Maybe we should simply change the wording (avoid "supported").

How about:

[code]

[2022-11-14 11:56] mateuszrzeszutek commented on #197
Sounds good to me.

[2022-11-14 12:06] pellared commented on #198
The spec say to have at least a GitHub issue upfront. I think it is a good as we may add the issue to a "milestone" and make sure it is addressed before doing a GDI release. We do not have to update the specification (design) upfront. I think it is just a matter of making sure that eventually things are landed in the GDI spec to make sure that other languages are adopting the same patterns.

Also

[2022-11-14 14:32] pjanotti commented on #198
The key is to have a discussion about why some env var is needed in some instrumentation: even if it becomes "stable" but makes only sense for one language/runtime I don't think we should bring it to the GDI spec.

[2022-11-14 14:48] pjanotti commented on #197
I'm surprised by this sentence: the SmartAgent accepted Zipkin. Anyway, there are other good reasons to avoid a Zipkin exporter.

How about instead of listing what "doesn't work" listing the preferred export format OTLP and letting deviations be handled by specific instrumentations? Notice that SFx.NET (not an OTEL fork) uses Zipkin as the only supported export format.

[2022-11-14 15:31] theletterf commented on #197
Agree. Omitting stuff we don't want while focusing on the happy path is the way to go :)

Having said that, shall I remove mentions of Zipkin in our docs?

[2022-11-15 07:18] mateuszrzeszutek commented on #197
Unless that mention is "don't use Zipkin, use OTLP" 😄

[2022-11-15 07:42] theletterf commented on #197
Luckily, we don't mention `Zipkin` in our instrumentation docs (OTel ones), but we do for the Collector. Both the Collector and our backend support Zipkin spans:

- https://docs.splunk.com/Observability/apm/apm-spans-traces/span-formats.html
- https://docs.splunk.com/observability/gdi/opentelemetry/data-processing.html

I believe it's even a default for our Collector distribution.

[2022-11-15 07:54] mateuszrzeszutek commented on #197
I think it's understandable for the collector -- we should only produce OTLP (in instrumentation), but accept as much as we can (in collector/ingest)

[2022-11-16 01:32] #194 closed

[2022-11-16 01:34] #197 closed

[2022-11-17 15:38] pellared opened #203 "Configuring metrics used for memory profiling"
In SFx .NET (but later we will need also to support it in OTel distribution) we are asked to introduce a setting to control what "metric sets" should be enabled. Our current "metrics sets" would be: .NET runtime metrics, process metrics, ASP.NET Core metrics.

Is it possible to configure similar things in Java and Node.js? If so then how?

In [OTel .NET Auto](https://github.com/open-telemetry/open

[2022-11-17 15:43] pellared opened #204 "Can enabling a feature also enable other feature as a side effect"
In .NET the the Memory Profiler feature relies on metrics.

Should setting `SPLUNK_PROFILER_MEMORY_ENABLED` enable metrics collection if it the second disabled by default?

CC @signalfx/gdi-dotnet-approvers @signalfx/gdi-java-approvers

[2022-11-17 16:51] pellared commented on #204
Closing. I think it is fine as long as the "side-effect" is enabling something that is e.g. disabled by default and the precedence is documented.

[2022-11-17 17:30] mateuszrzeszutek commented on #203
In the javaagent it works exactly the same as any other instrumentation: you can disable it using [this config option](https://opentelemetry.io/docs/instrumentation/java/automatic/agent-config/#suppressing-specific-agent-instrumentation), and our custom metrics instrumentation names are [here](https://github.com/signalfx/splunk-otel-java/blob/main/docs/metrics.md#supported-libraries).

[2022-11-17 17:40] pellared commented on #203
@mateuszrzeszutek Thanks a lot 👍 AFAIK `OTEL_INSTRUMENTATION_[NAME]_ENABLED` is not in the OTel spec (at least I have not found it). I could't also find other languages have some similar env var... I think we could use the same pattern in OTel .NET for consistency. Is it something worth brining the OTel spec?

[2022-11-17 17:43] mateuszrzeszutek commented on #203
Definitely! Though I feel that until now the spec has been kinda avoiding the topic of instrumentation configs; pretty much only SDK configuration options are defined there.

[2022-11-17 17:47] pellared commented on #203
@mateuszrzeszutek Is there an option in OTel Java to enable the instrumentations in a "allow list" way. Meaning: disable all and explicitly enable the ones that the user needs?

[2022-11-17 17:52] mateuszrzeszutek commented on #203
Yeah, it's kinda mentioned [here](https://opentelemetry.io/docs/instrumentation/java/automatic/agent-config/#enable-manual-instrumentation-only) -- you can disable every instrumentation by default `Dotel.instrumentation.common.default-enabled=false` and then just cherry-pick.

[2022-11-17 18:01] pellared commented on #203
@mateuszrzeszutek  Via env var it would be `OTEL_INSTRUMENTATION_COMON_DEFAULT_ENABLED=false`?

[2022-11-17 18:57] mateuszrzeszutek commented on #203
Yep

[2022-11-17 19:17] pellared commented on #203
Closing. I will try to continue first via OTel .NET AutoInstrumentation SIG and then OTel Spec.

@mateuszrzeszutek thanks a lot